<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.excerpt }}</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{% endfor %}
<a class="" href="{{site.pages_list.blog}}">More blogs</a>
</section>
